.content {
    height: 100%;
    font-family: 'Oswald', sans-serif;  
    font-size: 20px;
    background-color: #000;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item  {
    display: flex;
    width: 70%;
    height: 70%;
    font-size: 0.8em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid transparent 2px;
    border-radius: 50px;
    background-color: #111;
}

.item-card form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ECCE39;
    font-size: 1.2em;
}

.item-card img {
    width: 500px;
    height: 400px;
    border: solid 5px;
    border-radius: 100px;

}

.item-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.item-info {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;
}

.item-info h1 {
    margin-top: 0px;
}

.item-info-1 {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.item-info-1 input{
    background-color: transparent;
    color: #ECCE39;
    font-size: 0.65em;
    border: transparent;
    border: solid 2px #ECCE39 ;
    text-align: center;
    
}

.item-info-1 select{
    background-color: transparent;
    color: #ECCE39;
    font-size: 0.65em;
    border: transparent;
    border: solid 2px #ECCE39 ;
    text-align: center;
    
}

.item-info-2 {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.item-info-2 textarea{
    background-color: transparent;
    border: solid 2px #ECCE39;
    width: 300px;
    height: 100px;
    font-size: 0.6em;
    color:#ECCE39;
}

.item-info-3 {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-info-3 input {
    width: 25px;
    height: 25px;
}

.item-info-3 input:hover {
    cursor: pointer;
}

.item-info-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit_button {
    margin: 0px 20px;
    background-color: black;
    color: #ECCE39;
    border: solid 2px;
    border-radius: 10px;
    font-size: 0.8em;
}

.edit_button a {
    text-decoration: none;
    color: #ECCE39;
}

.edit_button:hover {
    cursor: pointer;
}

.input_number::-webkit-outer-spin-button,
.input_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.messages {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
}