{% extends 'base.html' %}

{% block title %} Grelha's | Registro {% endblock %}

{% block body %}

<form action="{% url 'register' %}" method="post" >
    {% csrf_token %}
    <div class = "register">
        <div>
            <input type="text" name= 'nome'/>
            <label>Nome</label>
        </div>
    
        <div>
            <input type="text" name= 'email'/>
            <label>Email</label>
        </div>
    
        <div>
            <input type="text" name= 'senha'/>
            <label>Senha</label>
        </div>
    
        <div>
            <input type="text" name= 'telefone'/>
            <label>Telefone</label>
        </div>
        <button type="submit">Criar conta</button>
    </div>
</form>

{% endblock %}