{% load static %}

<link rel="stylesheet" href="{% static 'parciais/footer.css' %}">
<footer id="footer">
    <table class="footer-tabela">
        <thead>
            <tr>
                <th> Quem somos </th>
                <th> Redes Sociais </th>
                <th> Endereço </th>
                <th> Contato </th>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <td> Empresa </td>
                <td> Facebook </td>
                <td> Rio de Janeiro </td>
                <td> Email </td>
            </tr>
            <tr>
                <td> Membros </td>
                <td> Twitter </td>
                <td> Rua Jacaré de Asas </td>
                <td> Telefone </td>
            </tr>
            <tr>
                <td> Comunidade </td>
                <td> Instagram </td>
                <td> Nº 00 Bl 00 </td>
                <td> WhatsApp </td>
            </tr>
        </tbody>   
    </table>
    <hr> 
    <div class="sub-footer">
        <span><a href="">Privacidade</a> <a href="">Termos e Condições</a></span>
        <span class="grelhas">Grelha's 2022</span>
    </div>
</footer>