{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{%endblock%}</title>
</head>

<body>
    <nav>
        <div class="navebar">
           <a href="{% url 'index' %}"><button class="buttonHeader">Página Inicial</button></a>
           <a href=""><button class="buttonHeader">Galeria</button></a>
           <a href=""><button class="buttonHeader">Faça seu pedido</button></a>
           <a href=""><button class="buttonHeader">Fale Conosco</button></a>
           <a href="{% url 'login' %}"><button class="buttonHeader">Entrar</button></a>
           <a href="{% url 'register' %}"><button class="buttonHeader">Registre-se</button></a>
        </div>
    </nav>

    {% block body %}{%endblock%}
</body>
</html>