{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include  'static/parciais/head.html' %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    
    {% block head %}{% endblock %}
    <title>{% block title %}{%endblock%}</title>
</head>

<body>
    <nav class="navebar">
        <div class="logo">
            <a href="{% url 'index' %}">
                Grelhas Burguer
            </a>
        </div>
        <div class="menu">
            {% block navlinks %}
            {% endblock %}
            {% if permission  %}
                <a href="{% url 'pedidos' %}"><button class="buttonHeader">Admin</button></a>
            {% endif %}
        </div>
        
        <div class="nav-login">
            {% if request.user.is_authenticated %}

                <span> Olá, {{ request.user.first_name|title }} </span>
                <a href="{% url 'logout' %}"><button class="buttonHeader">Sair</button></a>

            {% else %}

                <a href="{% url 'login' %}"><button class="buttonHeader">Entrar</button></a>
                <a href="{% url 'register' %}"><button class="buttonHeader">Registre-se</button></a>

            {% endif %}
        </div>     
    </nav>

    {% block body %}{%endblock%}

    {% include 'static/parciais/footer.html' %}
</body>
</html>