{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'static/parciais/head.html' %}
    <link rel="stylesheet" href="{% static 'cardapio_css/cardapio.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Cardápio</title>
{% endblock %}

{% block navlinks %}
        <a href="{% url 'index' %}"><button class="buttonHeader">Página Inicial</button></a>        
        {% for categoria in categorias %}
            <a href="#{{ categoria.nome_categoria }}"><button class="buttonHeader">{{ categoria.nome_categoria }}</button></a>
        {% endfor %}
{% endblock %} 

{% block body %}

    <div class="content">
        <div class="content-card">
            <div class="carrinho" id="carrinho">
                <a href="{% url 'carrinho' %}"><button class="button_carrinho">Carrinho de Compras</button></a>
            </div>
            {% for categoria in categorias %}
            <div id='{{ categoria.nome_categoria }}' class="categoria">
                <div class="categoria-title">
                    <h1>{{ categoria.nome_categoria }}</h2>
                    <hr>
                </div>
                {% for item in itens %}
                {% if item.categoria == categoria %}
                <div class="item">
                    {% if item.img %}
                        <div class="item_img">
                            <img src="{{ item.img.url }}" alt="Img">
                        </div>
                    {% else %}
                        <div class="item_img">
                            <img src="../../media/default.jpg" alt="Img">
                        </div>
                    {% endif %}
                    <div class="item_content">
                        <h2>{{ item.nome_item }}</h1>
                            <div class="item_content_details">
                                <p class="descricao">Descrição: {{ item.descricao }}</p>
                                {% if item.ingredientes %}
                                    <p class="descricao">Ingredientes: {{ item.ingredientes }}</p>
                                {% endif %}
                                <p class="preco">R$ {{ item.preco_item }}</p>
                            </div>
                        <a href="{% url 'item' item.id %}">Adicionar ao carrinho</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}